[
    { rabbitmq_stomp, [
            { default_user, [
                    { login, "web" },
                    { passcode, "web" }
            ] }
    ] },
    { rabbitmq_web_stomp, [
            { tcp_config, [
                    { "127.0.0.1", "15674" },
                    { "::1", "15674" }
            ] }
    ] },
    { rabbit, [
            { loopback_users, [ ] },
            { tcp_listeners, [ 5672 ] },
            { ssl_listeners, [ ] },
            { hipe_compile, true }
    ] },
    { rabbitmq_management, [ { listener, [
            { port, 15672 },
            { ssl, false }
    ] } ] }
].
